@import "variables";
@import "helpers";

.gallery {
  min-height: 100vh;
  padding-top: toRem(140px);
  padding-bottom: toRem(140px);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.destination-gallery {
  width: 100%;
  max-width: toRem(1556px);
  margin-bottom: toRem(100px);

  &__hd3 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    position: relative;
    color: $input-font-color;
    font-size: toRem(64px);
    line-height: 1.32;
    margin-top: 0;
    margin-bottom: toRem(52px);


    &::before {
      content: '';
      position: absolute;
      background-color: $primary-color;
      display: block;
      width: toRem(283px);
      height: toRem(3px);
      bottom: toRem(-20px);
  }
}

  &__text {
    font-family: 'Rubik', serif;
    font-weight: 400;
    font-size: toRem(24px);
    line-height: 1.16;
    color: $secondary-font-color;
    margin: 0;
}
}

.pictures {
  width: 100%;
  max-width: toRem(1556px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  @media screen and (max-width: 1475px) {
  display: flex;
    justify-content: center;
  flex-wrap: wrap;
}

  &__img--higher:hover {
    transform: translateY(-80px);
}
}