@import "variables";
@import "helpers";

%text {
  font-family: 'Rubik', serif;
  font-weight: 400;
  font-size: toRem(18px);
}

.planners {
  min-height: 100vh;
  padding-top: toRem(140px);
  padding-bottom: toRem(140px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  @media screen and (max-width: 664px) {
    flex-direction: column;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 1519px) {
    justify-content: center;
  }
}

.trip {
  width: 100%;
  max-width: toRem(394px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @media screen and (max-width: 664px) {
    margin-bottom: toRem(50px);
    justify-content: center;
  }

  &__hd3 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: toRem(64px);
    margin: 0;
    line-height: 1.32;
    color: $input-font-color;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      display: block;
      max-width: toRem(231px);
      min-height: toRem(3px);
      bottom: toRem(-20px);
      background-color: $primary-color;
    }
  }

  &__text {
    @extend %text;
    line-height: 1.16;
    margin-top: toRem(52px);
    margin-bottom: toRem(50px);
    color: $secondary-font-color;
  }

  &__btn {
    @extend %text;
    line-height: 1.16;
    padding: toRem(20px);
    color: $primary-font-color;
    background: $primary-color;
    border: 0;
    border-radius: toRem(12px);
    cursor: pointer;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: toRem(43px);
      height: toRem(43px);
      left: toRem(-14px);
      top: toRem(-14.5px);
      z-index: -3;
      background: $input-font-color;
    }

    &::after {
      content: '';
      position: absolute;
      width: toRem(43px);
      height: toRem(43px);
      right: -18px;
      bottom: -16px;
      z-index: -2;
      background: $secondary-font-color;
    }
  }
}

.whole {
  width: 100%;
  max-width: toRem(1244px);
  margin-left: toRem(100px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  @media screen and (max-width: 1519px) {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    width: 50%;
  }
  @media screen and (max-width: 664px) {
    justify-content: center;
    margin-left: 0;
    width: 100%;
  }

  .whole__img {
    @media screen and (max-width: 1519px) {
      margin-bottom: toRem(20px);
    }
  }

  .img-content {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;

    .title-price {
      @extend %text;
      line-height: 1.16;
      text-transform: uppercase;
      color: $input-font-color;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: toRem(20px);

      &__price {
        margin: 0;
      }
    }

    .tour-day {
      width: 100%;
      margin: toRem(12px) 0 toRem(23px);
      display: flex;
      justify-content: space-between;

      &__text {
        margin-top: 0;
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        font-size: toRem(28px);
        line-height: 1.32;
        color: $input-font-color;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          background-image: url("#{$imgs-path}/Rating.svg");
          width: toRem(136px);
          height: toRem(24px);
          bottom: toRem(-31px);
          left: toRem(-1px);
        }

      }

      &__day {
        @extend %text;
        line-height: 1.16;
        color: $input-font-color;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 0 0;
      }
    }

  }

}